[core]
  fileMod = false
[user]
	name = Michael Malura
	email = github@malura.me
[push]
	default = simple
[github]
	user = maluramichael
[color]
	ui = true
[core]
	editor = code -w
[merge]
	tool = p4merge
[mergetool]
	keepTemporaries = false
	prompt = false
