[user]
	name = Michael Malura
	email = maluramichael@googlemail.com
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = simple
[github]
	user = maluramichael
[color]
	ui = true
[core]
	editor = code -w
[merge]
	tool = p4merge
[mergetool]
	keepTemporaries = false
	prompt = false
